* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(61, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    background-image: url(/img/gb1.jpg);
    background-size: cover;
    background-position: center center;
    height: 92vh;
    will-change: 100%;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 1000px;
    
}

.intro-text h3 {
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 300px;
}

.intro-text h4 {
    font-size: 40px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.con1 {
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
    border: 3px solid aqua;
    color: aliceblue;
    margin-bottom: 20px;
}

.con1 img {
    margin-top: 5px;
}

.con1 img:hover {
    width: 65px;
    height: 45px;
}

.con2 .blog1 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 .blog2 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 .blog3 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 .blog4 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 p {
    color: aquamarine;
}

.con2 h3 {
    color: aqua;
}

.con2 button {
    font-family: cursive;
    padding: 5px;
    background-color: rgb(61, 61, 61);
    border: 2px solid sandybrown;
    color: rgb(17, 255, 0);
}

.con2 button:hover {
    cursor: pointer;
    border: white dashed 2px;
    background-color: rgb(17, 255, 0);
    color: rgb(61, 61, 61);
    box-shadow: 0 0 10px rgb(17, 255, 0), 0 0 40px rgb(17, 255, 0), 0 0 80px rgb(17, 255, 0);
    transition-delay: 0.100ms;
}

@media (max-width: 863px) {
    .con2 img {
        width: 80px;
        height: 80px;
    }
}