@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #cecece;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    background-image: url(/img/gb1.jpg);
    background-size: cover;
    background-position: center center;
    height: 92vh;
    will-change: 100%;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 1000px;
    
}

.intro-text h3 {
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 300px;
}

.intro-text h4 {
    font-size: 40px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.con1 {
    background: #ffffff;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    font-family: Inconsolata, sans-serif;
    /* box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
    border: 3px solid aqua;
    color: aliceblue;
    margin-bottom: 20px; */
    transition: 0.8s ease-in-out;
}
.con1:hover
{
    box-shadow: 10px 10px 10px rgba(94, 0, 86, 0.25);
    transition: 0.5s ease-in-out;
}
.con1 .side0 h3
{
    color: rgb(30, 29, 37);
}
.con1 img 
{
    margin-top: 5px;
}

.con1 img:hover {
    width: 65px;
    /* height: 45px; */
}

.con2 .blog1 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 .blog2 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 .blog3 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 .blog4 {
    float: left;
    width: 20%;
    border: 3px white solid;
    text-align: center;
    height: 400px;
    margin: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.con2 p {
    color: aquamarine;
}

.con2 h3 {
    color: aqua;
}

.con2 button {
    font-family: cursive;
    padding: 5px;
    background-color: rgb(61, 61, 61);
    border: 2px solid sandybrown;
    color: rgb(17, 255, 0);
}

.con2 button:hover {
    cursor: pointer;
    border: white dashed 2px;
    background-color: rgb(17, 255, 0);
    color: rgb(61, 61, 61);
    box-shadow: 0 0 10px rgb(17, 255, 0), 0 0 40px rgb(17, 255, 0), 0 0 80px rgb(17, 255, 0);
    transition-delay: 0.100ms;
}

@media (max-width: 863px){
    .con2 img {
        width: 80px;
        height: 80px;
    }
}
.oi
{
    text-align: center;
}