@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* 
{
    padding: 0px;
    margin: 0px;
}
body 
{
    font-family: 'Poppins', sans-serif;
    background: #cecece;
    
}
.intro 
{
    font-family: 'Varela Round', sans-serif;
    background-image: url(/img/gb1.jpg);
    background-size: cover;
    background-position: center center;
    height: 92vh;
    will-change: 100%;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 1000px;
    
}
.intro-text h3 
{
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 300px;
}
.intro-text h4 
{
    font-size: 40px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
.con1 
{
    background: #ffffff;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'Inconsolata', monospace;
    /* box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
    border: 3px solid aqua;
    color: aliceblue;
    margin-bottom: 20px; */
    transition: 0.8s ease-in-out;
}
.con1:hover
{
    box-shadow: 10px 10px 10px rgba(94, 0, 86, 0.25);
    transition: 0.5s ease-in-out;
}
.con1 .side0 h3
{
    color: rgb(30, 29, 37);
}
.con1 img 
{
    margin-top: 5px;
}
.con1 img:hover {
    width: 65px;
    /* height: 45px; */
}
.con2
{
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #ff000000;
}
.con2 a
{
    text-decoration: none;
}
.con2 a .blog
{
    border-radius: 10px;
    position: relative;
    width: 900px;
    height: 200px;
    background: #ffffff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.025);
}
.con2 a .blog:hover
{
    box-shadow: 10px 10px 10px rgba(2, 0, 94, 0.25);
    transition: 0.5s ease-in-out;
}
.con2 a .blog .content
{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.con2 a .blog img
{
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con2 a .blog .content .img img
{
    width: 200px;
    height: 200px;
    margin-left: 20%;
    border-radius: 100px;
    /* box-shadow: 5px 20px 20px rgba(36, 36, 36, 0.651); */
    /* transition: 1s ease-in-out; */
}
.con2 a .blog .content .text
{
    margin-left: 15%;
}
.con2 a .blog .content .text h3
{
    font-weight: 500;
    color: black;
    transition: 0.5s ease-in-out;
}
.con2 a .blog .content .text p
{
    font-family: Inconsolata, sans-serif;
    font-size: 0.9em;
    color: rgb(97, 97, 97);
    transition: 0.5s ease-in-out;
}
.oi
{
    text-align: center;
}